/* HEADER */
header {
  background: rgb(255, 98, 0);
  height: 50px;
  width: 100%;
}

.top-header { 
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
}

.top-header ul {
  display: flex;
  align-items: center;
}

header ul li {
  margin: 0 5px 0 5px;
  font-weight: 700;

}

header ul li:nth-child(1) { color: rgb(196,77,21); }
header ul li:nth-child(2) { color: rgb(255,255,255); }

header, .top-header, nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  font-family: 'BebasNeueRegular'; 

}



/* NAV BAR */
nav {
  background: rgb(249, 249, 249);
  height: 150px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.top-nav {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.top-nav > ul {
  display: flex;
}

.logo li:nth-child(1) { color: rgb(0,0,0); }
.logo li:nth-child(2) { color: rgb(241,108,32); }

.logo {
  font-weight: 700;
}

.logo {
  font-size: 55px;
}

.nav-bar {
  align-items: center;
  font-family: "Myriad Pro", Myriad;
}

.nav-bar > li {
  margin-right: 30px;
  position: relative;
}

.nav-bar > li:hover {
  font-weight: 700;
}

.nav-bar > li::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: rgb(194,76,21);
} 

.nav-bar > li:hover::after {
  width: 100%;
}

.submenu {
  display: none;
  position: absolute;
  top: 50px;
  white-space: nowrap;
  background: #fff;
  color: #000;
  border: 1px black solid;
  overflow: hidden;
  font-weight: 100;
  padding: 10px 0;
}

.submenu > li {
  padding: 10px;
  margin: 0 10px;
}

.nav-bar > li:hover .submenu {
  display: block;
}